In [2]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
df.head()

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df = df.drop(1)

In [4]:
df.head()

   A  B
0  1  4
2  3  6

In [5]:
df = df.reset_index(drop=True)
df.head()

   A  B
0  1  4
1  3  6